@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lotômetro</h1>
    <p class="lead">Este site tem o objetivo de medir a quantidade de pessoas em um local utilizando câmeras. </p>
    <h2>Como funciona?</h2>
    <p class="lead">O Lotômetro utiliza algoritmos de inteligência artificial para detectar pessoas em imagens capturadas por câmeras. Com base nessa detecção, é possível contar a quantidade de pessoas em um determinado local em tempo real.</p>
    <h2>Quais são as aplicações?</h2>
    <p class="lead">O Lotômetro pode ser utilizado em diversos locais, como shoppings, estações de transporte público, parques, eventos e muito mais. Com essas informações, é possível tomar decisões estratégicas para melhorar a experiência dos usuários e aumentar a eficiência operacional.</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Faça Login ou Cadastre-se &raquo;</a></p>-->
        <p class="btn btn-default btn-lg"> @Html.ActionLink("Faça Login ou Cadastre-se", "Login", "Login")&raquo;</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
